section {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #aaa;
}
.container {
    max-width: 100px;
    margin: 100px auto;
    background-color: #aaa;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #fa0;
    animation-name: boxxx;
    animation-duration: 2s;
    /* animation-timing-function: https://cubic-bezier.com/#.17,.67,.83,.67; */
    animation-timing-function: cubic-bezier(.17,.67,.83,.67);
}

@keyframes boxxx {
    0% {
        margin-left: 0;
        background-color: rgb(206, 206, 102);
    }

    /* 30% {
       margin-left: 80%; 
       background-color: #5cce6f;
    }

    80% {
        background-color: #c76ce2;
    } */

    100% {
        margin-left: 100%;
        background-color: #e45858;
    }
}