section {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #aaa;
}
.container {
    max-width: 100px;
    margin: 100px auto;
    background-color: #aaa;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #fa0;
    animation-name: boxxx;
    animation-duration: 5s;
    animation-delay: -1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    /*none, forward, backwards, both*/
}

@keyframes boxxx {
    0% {
        margin-left: 0;
        background-color: rgb(98, 240, 233);
    }

    /* 30% {
       margin-left: 80%; 
       background-color: #5cce6f;
    }

    80% {
        background-color: #c76ce2;
    } */

    100% {
        margin-left: 100%;
        background-color: #e45858;
    }
}